---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Menu | Los amigos</title>
  </head>
  <body class="font-roboto bg-gray-900 text-gray-200">
    <header>
      <h1>Los amigos Bar-Restaurant</h1>
      <h2>Menu</h2>
      <p>
        The prices listed on the menu do not include taxes. A --10% local tax**
        will be added to your final bill in accordance with current regulations.
      </p>
    </header>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">APPETIZERS</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">SOUP</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">SALADS</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">PASTAS</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">CHEESY FRIES</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">BURGERS</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">MAIN COURSE</h3>
      <div class="border-t-gray-200 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">LATIN DISHES</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HOUSE CROQUET</p>
            <p class="text-lg">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">COFFEES</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">EXPRESSO</p>
            <p class="text-lg min-w-max">60.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">BLACK COFFEE</p>
            <p class="text-lg min-w-max">60.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CAPUCCINO</p>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">COFFEE LATTE</p>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">FRAPPUCCINO</p>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">DRINKS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">NATURAL WATER</p>
            <p class="text-lg min-w-max">35.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">SODA WATER</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">TONIC WATER</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">COCA COLA</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">COCA COLA LIGHT</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">SPRITE</p>
            <p class="text-lg min-w-max">75.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">XL ENERGY</p>
            <p class="text-lg min-w-max">85.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">JUICES</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">ORANGE</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PASSION FRUIT</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PINEAPPLE</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PUNCH</p>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">BEERS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PARBO 350ML</p>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PARBO 500ML</p>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">DJOGO</p>
            <p class="text-lg min-w-max">170.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">HEINEKEN BOT</p>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">HEINEKEN CAN</p>
            <p class="text-lg min-w-max">130.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CORONA</p>
            <p class="text-lg min-w-max">130.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CORONITA</p>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">COCKTAILS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CAIPIRINHA</p>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Cachaça 51, Lemon, Sugar</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CAIPIROSKA</p>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Vodka, Lemon, Sugar.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">AMARETTO SOUR</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Disaronno, Lemon, Sugar.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">WHISKEY SOUR</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Whisky, Lemon, Sugar.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">MOJITO</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Havana Club, Soda, Lemon, Mint leave, Sugar.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CUBATA</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Borgoe, Cola, Lemon.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CUBA LIBRE</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Havana Club, Cola, Lemon.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PIÑA COLADA</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Bacardi, Pineapple juice, Coconut milk
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">MARGARITA</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Tequila, Triple sec, Lemon.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">TEQUILA SUNRISE</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Tequila, Orange juice, Granadina.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">STRAWBERRY DAIQUIRI</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Strawberry, Bacardi, Maraschino.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">SEX ON THE BEACH</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Vodka, Licor peach, Cramberry juice.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">SCREWDRIVER</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Vodka, Orange juice.</p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">COSMOPOLITAN</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Vodka, Triple sec, Cramberry juice.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">LONG ISLAND</p>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Bacardi, Gin Bombay, Tequila, Vodka, Triple sec, Cola, Lemon.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">GIN TONIC</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Gin Bombay, Tonic water, Lemon.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">GIN TONIC HENDRICKS</p>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Gin Hendricks, Tonic water, Lemon.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">GIN TONIC MARE</p>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Gin Mare, Tonic water, Lemon.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">SANGRIA</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Red wine, Triple sec, Orange juice.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">NEGRONI</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Vermont rosso, Campari, Gin Bombay.
          </p>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">MICHELADA</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Beer, Lime juice, Tomato juice, Tabasco, Worcestershire.
          </p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">WHISKEYS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JHONNY WALKER RED</p>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JHONNY WALKER BLACK</p>
            <p class="text-lg min-w-max">140.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JHONNY WALKER DOUBLE BLACK</p>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JHONNY WALKER GOLD</p>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JHONNY WALKER 18 YEAR</p>
            <p class="text-lg min-w-max">360.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JHONNY WALKER BLUE</p>
            <p class="text-lg min-w-max">550.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CHIVAS REGAL 12</p>
            <p class="text-lg min-w-max">140.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CHIVAS REGAL 18</p>
            <p class="text-lg min-w-max">360.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JACK DANIELS</p>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">JACK DANIELS HONEY</p>
            <p class="text-lg min-w-max">170.00 SRD</p>
          </div>
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">OLD PARR</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">VODKAS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">ABSOLUT</p>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">GREY GOSSE</p>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HAKU</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">TEQUILAS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">JOSE CUERVO SILVER</p>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">JOSE CUERVO GOLD</p>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">EL PATRON SILVER</p>
            <p class="text-lg">200.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">EL PATRON GOLD</p>
            <p class="text-lg min-w-max">260.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">LIQUORS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">DRAMBUEI</p>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">BAYLEY</p>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">TEQUILA ROSE</p>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">JAGERMEISTER</p>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">COGNAC</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HENNESSEY VSOP</p>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">REMMY MARTIN VSOP</p>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">RUMS</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">EL DORADO 12 YEAR</p>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Venezuelan rum aged for 12 years.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">DIPLOMATICO</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Venezuelan rum.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">CUBAY 10 YEAR</p>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Cuban rum aged for 10 years.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500">HAVANA CLUB 7 YEAR</p>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Cuban rum aged for 7 years.</p>
        </div>
      </div>
    </section>
    <section class="w-full flex flex-col justify-center items-center px-10">
      <h3 class="font-semibold text-xl mb-2">WINES</h3>
      <div class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5">
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CASILLERO DEL DIABLO</p>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Cabernet Sauvignon.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CASILLERO DEL DIABLO</p>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Merlot.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">CASILLERO DEL DIABLO</p>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Chardonnay.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">BAREFOOT</p>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Sauvignon Blanc.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PIERRE MARCELL</p>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Sweet red.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500">PIERRE MARCELL</p>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Sweet white.</p>
        </div>
      </div>
    </section>
  </body>
</html>
