---
import "../styles/global.css";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="icon-menu.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Menu | Los amigos</title>
  </head>
  <body
    class="font-roboto bg-gray-900 text-gray-200 flex flex-col justify-center items-center"
  >
    <main
      class="w-full max-w-4xl py-16 px-10 flex flex-col items-center justify-center text-center gap-4"
    >
      <img
        src="https://addiellucena94.github.io/restaurant/icon-menu.svg"
        alt="Menu Icon"
      />
      <div>
        <h1 class="font-bold text-5xl text-yellow-500">Los Amigos</h1>
        <p>Bar-Restaurant</p>
      </div>
      <h2 class="text-4xl text-yellow-500 font-bold border-b-2">Menu</h2>
      <p class="text-gray-400">
        The prices listed on the menu do not include taxes. A --10% local tax**
        will be added to your final bill in accordance with current regulations.
      </p>
    </main>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4"
    >
      <img
        src="https://addiellucena94.github.io/restaurant/food.svg"
        alt="Food icon"
        class="w-20 h-20"
      />
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">APPETIZERS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">HOUSE CROQUET</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg
              min-w-max">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious homemade chicken coquette made by the cheff.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CHICKEN CHEESE BALL
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Chicken cheese ball that are crunchy from outside and cheese inside.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CHICKEN FINGERS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our breaded fried chicken breast nicely seasoned.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CHICKEN WINS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">400.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            8pcs, deep fried, garnish in hot and sour sauce.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">FISH FINGERS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our breaded fried fish nicely seasoned.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CEVICHE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            our house picked fish with onion, lemon and cilantro.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              BUTTERFLY SHRIMPS
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">550.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our breaded deep fried, garnish in sweet peppers sauces.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              SHRIMPS COCKTAILS
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">550.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious shrimps cocktails with our special sauce.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">BRUSCHETAS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">450.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            3pcs sliced bread, tomato, paprika, olive,basil and topped with
            smoked salmon.
          </p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">SOUP</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">CHICKEN SOUP</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Chicken, vegetables and potato soup, served with garlic bread toast.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">MUSHROOMS SOUP</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our creamy mushroom soup served with garlic bread toast.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">SHRIMPS BISQUET</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our creamy Shrimp soup, served with garlic bread toast.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">CUBANITOS BEANS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">80.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Red or black beans,seasoned in exquisite latin style, served with
            garlic bread toast.
          </p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">SALADS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">CAESAR SALAD</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Mixture of lettuce, boiled egg, homemade croutons, turkey bacon
            served with parmesan cheese and traditional dressing CESAR.
          </p>
          <div class="flex items-center justify-between">
            <p>- Add CHICKEN</p>
            <p>80.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- Add SHRIMPS (4pcs)</p>
            <p>150.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              MEDITERRANEAN SALAD
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">500.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Mixture lettuce, tomato, cucumber, black olive, red onion, feta
            cheese served with vinaigrette sauce.
          </p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">PASTAS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">PASTA ALFREDO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our delicious creamy pasta, with broccoli, mushrooms, pesto and
            parmesan cheese.
          </p>
          <div class="flex items-center justify-between">
            <p>- Add CHICKEN</p>
            <p>60.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- Add BEEF</p>
            <p>100.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- Add SHRIMPS (4pcs)</p>
            <p>150.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">CHEESY FRIES</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <p class="font-light italic text-base">
            French fries, topped with cheese,onion, paprika, special sauce , ADD
            AS REQUESTED.
          </p>
          <div class="flex items-center justify-between">
            <p>- CHICKEN CHEESY FRIES</p>
            <p>350.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- PORK CHEESY FRIES</p>
            <p>350.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- BEEF CHEESY FRIES</p>
            <p>400.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- VEGGIES CHEESY FRIES</p>
            <p>400.00 SRD</p>
          </div>
          <div class="flex items-center justify-between">
            <p>- SHRIMPS CHEESY FRIES</p>
            <p>450.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">BURGERS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CRISPY CHICKEN BURGER
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our breaded fried chicken breats, nicely seasoned, topped with
            tomato, lettuce and cheese.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              TENDERLOIN BURGER
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Our tenderly burger seasoned to perfection topped with cheese, and
            homemade sauce.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">CHICKEN BURGER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Homemade chicken burger seasoned nicely, topped with cheese, turkey
            bacon, toma,lettuce, cucumber and drizzling in our homemade sauce.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">BEEF BURGER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Homemade beef burger seasoned nicely, topped with cheese, turkey
            bacon, toma, lettuce, cucumber and drizzling in our homemade sauce.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              LOS AMIGOS SIGNATURE BURGER
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">450.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            A burger with 2 patties choice of chicken or beef or mix,seasoned to
            perfection topped with cheese, egg ,turkey bacon, lettuce, tomato,
            cucumber, and drizzling in our homemade sauce.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">CUBAN SANDWICH</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Baguett, roast pork, pork ham, cheese, pickled and our special
            homemade sauce.
          </p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">MAIN COURSE</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">GRILL CHICKEN</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">500.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Grilled chicken breast seasoned nicely, served with salad and your
            choice of side dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CHICKEN PARMIGIANO
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">650.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Nicely seasoned and breaded chicken filet, toping our homemade sauce
            and cheese, served with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              LEMON GARLIC BUTTER SHRIMPS
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">650.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Sauted shrimps seasoned nicely drizzled in our lemon, garlic, butter
            sauce, served with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CREAMY SPICY SHRIMPS
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">650.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Sauted shrimps seasoned nicely in our Spicy cream, paprika, onion
            and served with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              MUSHROOMS TENDERLOIN
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">900.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Grilled tenderloin nicely seasoned with creamy mushroom sauce served
            with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              PEPPERS TENDERLOIN
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">900.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Grilled tenderloin nicely seasoned with creamy pepper sauce served
            with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              GARLIC PORK TENDERLOIN
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">650.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Grilled pork tenderloin nicely seasoned with lemon and garlic,
            served with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CRISPY FISH FILET
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">600.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Crispy deep fried bang bang, topped with creamy capers sauce, served
            with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">OVEN FISH FILET</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">750.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Red snapers filet,seasoned and oven nicely with onion,garlic, dill,
            paprika, olive oil, served with salad and your choice dish.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              GRILL SALMON WITH LEMON CREAM SAUCE
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">850.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Grill Salmón, seasoned nicely, served with salad and your choice
            dish.
          </p>
        </div>
        <div class="flex flex-col">
          <p class="font-bold text-yellow-500 text-xl">SIDES:</p>
          <div class="flex items-center justify-between">
            <p>WHITE RICE</p>
            <p></p>
          </div>
          <div class="flex items-center justify-between">
            <p>FRIED RICE</p>
            <p></p>
          </div>
          <div class="flex items-center justify-between">
            <p>CONGRIS RICE</p>
            <p></p>
          </div>
          <div class="flex items-center justify-between">
            <p>GARLIC BREAD</p>
            <p></p>
          </div>
          <div class="flex items-center justify-between">
            <p>FRENCH FRIES</p>
            <p></p>
          </div>
          <div class="flex items-center justify-between">
            <p>WEDGES</p>
            <p></p>
          </div>
          <div class="flex items-center justify-between">
            <p>MASHED POTATOES</p>
            <p></p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">LATIN DISHES</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              LOS AMIGOS SPECIAL
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">600.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious dish, you have de options to choice if you want with
            congris or white rice/cubanitos red or black beans, fajitas pork or
            beef or chicken served with ripe bananas fries and salad.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">ROPA VIEJA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">600.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious dish, you have options to choice if you want with congris
            or white rice/cubanitos red or black beans, served with ripe bananas
            fries and salad.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              OVEN ROASTED PORK
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">600.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious dish, you have options to choice if you want with congris
            or white rice/cubanitos red or black beans, served with ripe bananas
            fries and salad.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">FRIES PORK RIBS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">600.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious dish, you have options to choice if you want with congris
            or white rice/cubanitos red or black beans, served with ripe bananas
            fries and salad.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">FRIED PORK DOUGH</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">600.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Delicious dish, you have options to choice if you want with congris
            or white rice/cubanitos red or black beans, served with ripe bananas
            fries and salad.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              SPECIAL FRIED RICE
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">400.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Scramble egg, chicken, pork, ham, shrimp, soy sauce, red onion, all
            seasoned in the best latin style, and served with salad and ripe
            bananas fries.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">TAMALES</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Finely ground corn, exquisitely seasoned in the Cuban style.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">SPECIAL TAMALES</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Finely ground corn, exquisitely seasoned Cuban-style, served with
            your choice of roast pork, ropa vieja, or fried pork ribs, and
            salad.
          </p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center p-4 pt-8"
    >
      <img
        src="https://addiellucena94.github.io/restaurant/cups.svg"
        alt="Food icon"
        class="w-20 h-20"
      />
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4"
    >
      <h3 class="font-semibold text-xl mb-4">COFFEES</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">EXPRESSO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">60.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">BLACK COFFEE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">60.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CAPUCCINO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">COFFEE LATTE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">FRAPPUCCINO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">DRINKS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">NATURAL WATER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">35.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">SODA WATER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">TONIC WATER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">COCA COLA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">COCA COLA LIGHT</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">SPRITE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">75.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">XL ENERGY</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">85.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">JUICES</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">ORANGE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PASSION FRUIT</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PINEAPPLE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PUNCH</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">70.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">BEERS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PARBO 350ML</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PARBO 500ML</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">DJOGO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">170.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">HEINEKEN BOT</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">HEINEKEN CAN</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">130.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CORONA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">130.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CORONITA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">COCKTAILS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CAIPIRINHA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Cachaça 51, Lemon, Sugar</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CAIPIROSKA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Vodka, Lemon, Sugar.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">AMARETTO SOUR</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Disaronno, Lemon, Sugar.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">WHISKEY SOUR</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Whisky, Lemon, Sugar.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">MOJITO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Havana Club, Soda, Lemon, Mint leave, Sugar.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CUBATA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Borgoe, Cola, Lemon.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CUBA LIBRE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Havana Club, Cola, Lemon.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PIÑA COLADA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Bacardi, Pineapple juice, Coconut milk
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">MARGARITA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Tequila, Triple sec, Lemon.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">TEQUILA SUNRISE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Tequila, Orange juice, Granadina.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              STRAWBERRY DAIQUIRI
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Strawberry, Bacardi, Maraschino.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">SEX ON THE BEACH</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Vodka, Licor peach, Cramberry juice.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">SCREWDRIVER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Vodka, Orange juice.</p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">COSMOPOLITAN</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Vodka, Triple sec, Cramberry juice.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">LONG ISLAND</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Bacardi, Gin Bombay, Tequila, Vodka, Triple sec, Cola, Lemon.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">GIN TONIC</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Gin Bombay, Tonic water, Lemon.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              GIN TONIC HENDRICKS
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Gin Hendricks, Tonic water, Lemon.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">GIN TONIC MARE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Gin Mare, Tonic water, Lemon.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">SANGRIA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Red wine, Triple sec, Orange juice.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">NEGRONI</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Vermont rosso, Campari, Gin Bombay.
          </p>
        </div>

        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">MICHELADA</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Beer, Lime juice, Tomato juice, Tabasco, Worcestershire.
          </p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">WHISKEYS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JHONNY WALKER RED
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JHONNY WALKER BLACK
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">140.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JHONNY WALKER DOUBLE BLACK
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">180.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JHONNY WALKER GOLD
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JHONNY WALKER 18 YEAR
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">360.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JHONNY WALKER BLUE
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">550.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CHIVAS REGAL 12</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">140.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">CHIVAS REGAL 18</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">360.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">JACK DANIELS</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JACK DANIELS HONEY
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">170.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">OLD PARR</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">VODKAS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">ABSOLUT</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">GREY GOSSE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">HAKU</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">TEQUILAS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              JOSE CUERVO SILVER
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">90.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">JOSE CUERVO GOLD</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">EL PATRON SILVER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg">200.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">EL PATRON GOLD</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">260.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">LIQUORS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">DRAMBUEI</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">150.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">BAYLEY</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">TEQUILA ROSE</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">120.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">JAGERMEISTER</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">100.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4 md:min-w-max">COGNAC</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">HENNESSEY VSOP</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">350.00 SRD</p>
          </div>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              REMMY MARTIN VSOP
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">300.00 SRD</p>
          </div>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">RUMS</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              EL DORADO 12 YEAR
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Venezuelan rum aged for 12 years.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">DIPLOMATICO</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Venezuelan rum.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">CUBAY 10 YEAR</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">200.00 SRD</p>
          </div>
          <p class="font-light italic text-base">
            Cuban rum aged for 10 years.
          </p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-center">
            <p class="text-lg text-yellow-500 md:min-w-max">
              HAVANA CLUB 7 YEAR
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">250.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Cuban rum aged for 7 years.</p>
        </div>
      </div>
    </section>
    <section
      class="w-full max-w-4xl flex flex-col justify-center items-center px-4 pt-8"
    >
      <h3 class="font-semibold text-xl mb-4">WINES</h3>
      <div
        class="border-t-gray-400 border-t-2 w-full py-3 flex flex-col gap-5 px-2"
      >
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CASILLERO DEL DIABLO
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Cabernet Sauvignon.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CASILLERO DEL DIABLO
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Merlot.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">
              CASILLERO DEL DIABLO
            </p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Chardonnay.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">BAREFOOT</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Sauvignon Blanc.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PIERRE MARCELL</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Sweet red.</p>
        </div>
        <div class="flex flex-col">
          <div class="flex justify-between items-start">
            <p class="text-lg text-yellow-500 md:min-w-max">PIERRE MARCELL</p>
            <div
              class="md:w-full md:h-5 md:border-b-2 md:border-dashed md:mx-2"
            >
            </div>
            <p class="text-lg min-w-max">160.00 SRD</p>
          </div>
          <p class="font-light italic text-base">Sweet white.</p>
        </div>
      </div>
    </section>
  </body>
</html>
